i.md-16 {

    font-size: 18px;
    width: 18px;
}

.material-icons.md-16{

    top: 26px;
    left: 1242px;
    width: 16px;
    height: 20px;
    opacity: 1;
}

i.md-18 {
    font-size: 18px;
    width: 18px;
}

i.md-20 {
    font-size: 20px;
    width: 20px;
}

i.md-24 {
    font-size: 24px;
    width: 24px;
}

i.md-26 {
    font-size: 26px;
    width: 26px;
}

i.md-28 {
    font-size: 28px;
    width: 28px;
}

i.md-36 {
    font-size: 36px;
    width: 36px;
}

i.md-48 {
    font-size: 48px;
    width: 48px;
}